/***********************************************
CODE FROM MONIQUE
***********************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styles*/
/********************************************
GENERAL
********************************************/
body {
      background-color: #ffffff;
	font-family: montserrat;
	margin: 0px;
}

h1, h2, h3, h4 {
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
	font-size: 72px;
	line-height: 120px;
}

h2 {
	font-size: 36px;
}

h4 {
	font-size: 1.5em;
}

p {
    font-size: 18px;
    line-height : 30px;
}

/* Get rid of blue highlight shadow around form fields */
input:focus {outline:none;}

/********************************************
NAVIGATION STYLES
********************************************/
.logo {
	float: left;
}

.nav-content {
      display: block;
      margin: 20px auto;
      max-width: 1260px;
}

nav {
	position: fixed;
      width: 100%;
	z-index: 2;
}

.nav-list {
      float: right;
	display: inline-block;
}

.nav-list a {
	margin-left: 24px;
}

nav li {
       display: inline-block;
      margin-top: 50px;
}

nav a {
  padding: 15px 12px;
}

/* responsive*/
@media screen and (max-width: 960px) {
.logo {
  width: 200px;
}
}
/********************************************
COLORS
********************************************/

/* link color */
a, button {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

/* nav link color */
.nav-list a, .nav-list a:visited {
  color: #1e1e1e;
}

/* selected nav link color */
.nav-list a.selected, .nav-list a:hover {
  color: #caaa51;
}

footer {
	background-color: #1e1e1e;
}

/********************************************
HEADER
********************************************/
header {
	background: url(images/LandingImage.jpg) no-repeat center;
      display: block;
      min-height: 900px;
      position: relative;
      text-align: center;
}

.header-text {
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
	top: 35%;
	transform: translate(-50%, -50%);
	left: 50%;
      width: 100%;
}

.pre-text {
      margin-top: 100px;
}

.main-text {
      font-size: 4.2em;
}

/* responsive*/
@media screen and (max-width: 960px) {

  body {
    font-size: 70%;
    margin: 0px;
  }
}



/********************************************
SPECIALS BLOCK
********************************************/
.specials-block{
	 background-image: url(images/beans.jpg);
       background-size: cover;
	 background-repeat: no-repeat;
       background-position: center;
        text-align: center;
        padding: 100px 200px;
}

/* link styled to be a button */
.visit-us {
	background-color: #1e1e1e;
      color: #ebefed;
      display: inline-block;
	font-weight: bold;
	padding: 16px 44px;
}

/* link style on hover */
 a.visit-us:hover {
      background-color: #caaa51;
}

.special-text {
	font-size: 65px;
	}

	.special-text-secondary {
             color: #caaa51;
		font-size: 30px;
		padding-top: 50px;
	}

.specials-p-text {
      margin: 50px 100px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .specials-block {
        padding: 100px 50px;
        text-align: center;
  }
}

@media screen and (max-width: 775px) {
  .specials-block {
        padding: 100px 10px;
        text-align: center;
  }

  .special-text {
  font-size: 50px;
  }

  .special-text-secondary {
    padding: 50px 50px 0 50px;
  }

  .specials-p-text {
      margin: 50px 10px;
}
}



/********************************************
NEWSLETTER SECTION
********************************************/
.newsletter {
	background-color: #caaa51;
      display: inline-block;
	margin: 0 auto;
      margin-bottom: -3px;
      overflow: hidden;
      text-align: center;
      width: 100%;
}

.newsletter-text {
      background-color: #caaa51;
      clear: left;
	color: #ffffff;
      float: left;
	padding: 30px 0 30px 180px;
}

.newsletter-form {
	float: right;
	margin-right: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.email-form-field {
      background-color: #caaa51;
	border: none;
  	border-bottom: solid 2px #FFFFFF;
      height: 40px;
	margin-right: 30px;
	padding-right: 280px;
	width: 103px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-size: 16px;
    line-height: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
   font-size: 16px;
   line-height: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
   font-size: 16px;
   line-height: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   font-size: 16px;
   line-height: 14px;
}

/* button style */
.newsletter button {
	background-color: white;
	border: 2px solid white;
	color: #caaa51;
      cursor: pointer;
	margin-right: 80px;
      margin-top: 7px;
      padding: 12px 32px;
}

/* button style on hover */
.newsletter button.selected, .newsletter button:hover {
      background-color: #d6d8d7;
      border-color: #d6d8d7;
      color: white;
}

/* Responsive */
@media screen and (max-width: 1400px) {

.newsletter-form {
  float: none;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 30px 20px 30px 0px;

  }

.newsletter-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-left: 0px;
  }

.newsletter button {
  margin-right: 0px;
}
}

@media screen and (max-width: 670px) {

.email-form-field {
  padding-right: 150px;
}
}

@media screen and (max-width: 454px) {

.newsletter button {
  margin-top: 50px;
}
}
/********************************************
CALENDAR SECTION
********************************************/
.calendar {
      background-color: #d6d8d7;
      height: 735px;
}
.event-block {
	float: left;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/OldTown.jpg) no-repeat;
      height: 100%;
      width: 50%;
      display: inline-block;
}

/* OLD TOWN GRAND OPENING text block */
.left-calendar-block-text-all {
      font-weight: bold;
      line-height: 100px;
      padding: 80px 0 413px 80px;
      text-transform: uppercase;
      max-width: 300px;
}

.left-calendar-block-text {
  color: #ffffff;
  font-size: 40px;
  line-height: 60px;
}

.date-left {
      color: #caaa51;
      font-size: 30px;
      padding-top: 30px;
}

/* COFFEE IN THE PARK text block */
.top-calendar-text {
      color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
      margin-bottom: 50px;
	padding-top: 20px;
}

.top-calendar-text-all {
        background-color: #d6d8d7;
	 float: left;
	 padding-left: 30px;
        max-width: 250px;
}

.top-calendar-date {
      color: #caaa51;
      font-size: 24px;
      font-weight: bold;
}

.top-image {
       background-color: #d6d8d7;
	 float: right;
	 width: 50%;
      position: relative;
      overflow: hidden;
}

.top-calendar-text-block {
	float: right;
	width: 50%;
}

/* VIEW ALL EVENTS text block */
.view-all-events-text {
       background-color: #d6d8d7;
       color: #1e1e1e;
       display: inline-block;
       float: right;
	 font-size: 30px;
	 font-weight: bold;
       line-height: 45px;
	 padding: 20px 170px 50px 0;
        max-width: 150px;
}

.coffee-img2 {
	width: 25%;
        position: relative;
      overflow: hidden;

}

/********************************************
LEARN FROM OUR BARISTAS
********************************************/
.left-justified-block {
	background-color: #FFFFFF;
	overflow: hidden;
	width: 100%;
}

.text {
  padding: 5em 3em;
}

/* button style */
.sign-up {
	background-color: #caaa51;
	color: white;
      display: inline-block;
	padding: 16px 44px;
      }

/* link style on hover */
 a.sign-up:hover {
      background-color: #1e1e1e;
}

.block-image {
       float: left;
	margin-right: 100px;
}

.block-header {
    color: #1e1e1e;
    font-size: 30px;
}

.block-body-text  {
      padding: 50px 0;
}

/* responsive*/
@media screen and (max-width: 1200px) {

  .text {
    text-align: center;
  }

  .block-image {
       height: 0px;
       width: 0px;
       display: none;
}

}

@media screen and (max-width: 500px) {
.block-header {
  display: inline-block;
   max-width: 300px;
   line-height: 50px;
}
}

/********************************************
FOOTER
********************************************/
footer {
 	background-color: #1e1e1e;
 	display: inline-block;
      margin: -3px 0 -4px 0;
    	width: 100%;
}

.copyright-text {
	color:  #FFFFFF;
      font-size: .8em;
      float: left;
	margin-left: 80px;
	padding: 30px 0;
}

.footer-list{
	float: right;
	margin-right: 80px;
}

.social-icon {
	  width: 2em;
	  margin: 20px 0 0 20px;
}

.icon {
	display: inline-block;
 }

@media screen and (max-width: 650px) {

  .social-icon {
   float: none;
    width: 60%;
  -webkit-transform: translate(-50%, -50%);
  position: center;
  top: 35%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding-bottom: 10px;
  }

.copyright-text {
  display: inline-block;
  text-align: center;
  margin-left: 0px;
  width: 100%;
}

 .footer-list {
  float: none;
    width: 100%;
    text-align: center;



}

}

